<div class="b">

    <img src="~/images/logo.jpg" style="width:15%;height:203px;float:left;margin-right:-134px;padding-top: 22px;">   <p style="font-size:250%;color:white;font-family:arial;text-align:center;margin-top:-22px;padding-bottom:13px;padding-top:80px">Loss Prevention In Stock Market</p>
    <div>
        <ul class="navlist">
            <li> <a asp-controller="Home" asp-action="Index">VIEW LIVE STOCK  ></a></li>
            <li> <a asp-controller="Home" asp-action="Test">BUY STOCK  ></a></li>
            <li><a asp-controller="Home" asp-action="Selldata">SELL STOCK  ></a></li>
            <li><a asp-controller="Home" asp-action="Managestock">MARKET TRENDS  ></a></li>
            <li><a asp-controller="Home" asp-action="Aboutus">ABOUT US  ></a></li>
            <li> <a asp-controller="Home" asp-action="Login" onclick="logout()">LOGOUT  ></a></li>
        </ul>
    </div>
</div>
<div class="back">
    @{
        List<String> TablesName = ViewBag.TablesName;
        List<string[,]> Tables = ViewBag.Tables;
        int count = 0;
    }



    @for (int i = 0; i < TablesName.Count; i++)
    {
        <script>
            function myFunction(i) {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById(i + "-myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById(i + "-myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <h6 style="text-align:center;font-family:arial; font-size: 30px;color:white;">@TablesName[i]</h6>
        <input class="search"type="text" id="@i-myInput" onkeyup="myFunction(@i)" placeholder="Search for names.." title="Type in a name" />
        <table class="table table-bordered" id="@i-myTable">
            @for (int j = 0; j < Tables[i].GetLength(0); j++)
            {

                <tr id="@count">

                    @for (int k = 0; k < Tables[i].GetLength(1); k++)
                    {

                        <td style="font-family:Arial;font-size:15px;color:white;">
                            
                                @Tables[i][j, k]
                        
                        </td>

                    }
                    <td>
                        <label style="background-color:maroon; border-color:maroon;" class="btn btn-primary"><a href="#" onclick="sendData( '@Tables[i][j, 0]', @Tables[i][j, 5] , @count);" style="border-color:maroon;color:white;text-decoration:none; border-color:maroon;">MAKE PAYMENT</a></label>
                    </td>
                    @{count = count + 1;}
                </tr>
            }
        </table>
        <br />
        <br />
    }

</div>
<script>
    function sendData(name, val , rowID) {
        window.location.href = "/Home/Buystock?name="+name+"&value="+val+"&rowID="+rowID;
    }
       function logout() {
                alert("Do you want to Logout? ");
            }
</script>

<style>
    .search {
        width: 285px;
        box-sizing: border-box;
        border: 2px solid #000 ;
        border-radius: 20px;
        font-size: 18px;
        background-color: darkslategrey;
        color:white;
        background-position: 5px 5px;
        padding: 7px 19px 5px 66px;
        display: inline-block;
        justify-content: center;
        margin-left: 520px;
         
    }
</style>